.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh; /* Altura total da tela */
    background-color: #f8f9fa; /* Azul claro */
    font-family: 'Open Sans', sans-serif;
  }
  
  .login-section {
    background-color: #ffffff; /* Fundo branco */
    padding: 40px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra leve */
    width: 320px; /* Largura fixa */
    height: 365px;
  }
  
  .login-title {
    text-align: center;
    color: #007bff; /* Azul */
    margin-bottom: 20px;
  }
  
  .login-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333; /* Cor do texto */
  }
  
  .login-input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 92%; /* Largura total */
  }
  
  .login-input:focus {
    border-color: #007bff; /* Azul no foco */
    outline: none; /* Remove o contorno padrão */
  }
  
  .login-button {
    background-color: #007bff; /* Azul */
    color: white; /* Texto branco */
    font-weight: bold;
    font-size: 1rem;
    margin-top: 60px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 99%; /* Largura total */
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #0056b3; /* Azul mais escuro ao passar o mouse */
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  
  .redirect-message {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-link:hover {
    color: #0056b3;
  }
  